.pagination {
  display: flex;
  width: 20%;
  gap: 10px;
  position: relative;
  left: 43%;
  margin: 2%;
}
.page {
  border: 1px solid black;
  background-color: black;
  color: white;
}
.pageNumber {
  border: none;
  background-color: white;
  color: black;
}
