.modelBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Model {
  position: fixed;
  justify-content: center;
  color: white;
}
.Model .inputField {
  color: white;
  border: 0.1px solid white;
}
.Model .Edit {
  width: 20%;
  border-radius: 8px;
}
.save_cancle {
  display: flex;
  gap: 18%;
}
.hidden {
  display: none;
}
.show {
  border: none;
  position: relative;
  bottom: 10rem;
}
